@{
    ViewData["Title"] = "Movie Form";
}

@model DateME.Models.ApplicationResponse



<h1>Fill out Movie Info</h1>


<div>
    <form method="post">
        <!--Cateogry input-->
        <label asp-for="Categoryid">Category</label>
           
        <select asp-for="Categoryid">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <br />

        <!--Title input-->
        <label asp-for="Title">Title</label>
        <input asp-for="Title" /><br />

        <!--Year input-->
        <label asp-for="Year">Year</label>
        <input asp-for="Year" /><br />

        <!--Director input-->
        <label asp-for="Director">Director</label>
        <input asp-for="Director" /><br />

        <!--Rating input - dropdown -->
        <label asp-for="Rating">Rating</label>
        <select asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select><br />

        <!--Edited input - checkbox-->
        <label asp-for="Edited">Edited</label>
        <input asp-for="Edited" type="checkbox" /><br />

        <!--Lent to - checkbox-->
        <label asp-for="LentTo">Lent To</label>
        <input asp-for="LentTo" /><br />

        <!--Notes input-->
        <label asp-for="Notes">Notes</label>
        <input asp-for="Notes" maxlength="25" width="30" /><br />


        <br />
        <!--submit button-->
        <button type="submit">
            Submit
        </button>
       @if (ViewBag.Edit == true)
       {
        <input type="hidden"  asp-for="ApplicationId"/>
       }
        <!--validation summary-->
        <div asp-validation-summary="All"></div>
    </form>
</div>