@{
    ViewData["Title"] = "Date Me";
}


<h1>Date Me!</h1>
<div>
    <p>Guess what - you probs won't find anyone better'</p>

    <img src="~/img/IMG_20191113_151823.jpg" />
   
</div>
<br />
<div>
    <a asp-controller="Home" asp-action="FillOutApplication">Fill out Application</a>

</div>